body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #EDEDED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.music-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-content{
    position: relative;
    width: 245px;
    height: 450px;
    background-color: #000;
    border-width: 8px 4px !important;
    border: solid;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .52);
}
#blacklayer{
    height: 450px;
    width: 100%;
    background-color: rgba( 0, 0, 0, .404);
    position: absolute;
    z-index: 2;
}
#menu{
    position: relative;
    z-index: 3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
#volume-container{
    position: relative;
    width: 100%;
    height: 15px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#volume-container img{
    height: 16px;
    width: 16px;
    margin: 0 5px;
}
.slider{
    width: 110px;
    height: 1px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fff;
    z-index: 100;
    outline: none;
    position: relative;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #EDEDED;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}
.slider:active::-webkit-slider-thumb{
    transform: scale(1.2);
}
#music-image{
    position: relative;
    width: 100%;
    height: 215px;
    z-index: 3;
}
#circle-image{
    position: absolute;
    top: -45%;
    Left: 50%;
    transform: translate(-50%, 50%);
    width: 180px;
    height: 180px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .52);
    overflow: hidden;
}
#music-image img{
    width: 100%;
    height: 100%;
}
#music-title{
    position: relative;
    padding: 0 25px;
    top: 90%;
    color: #fff;
}
#music-title h5{
    color: #fff;
    font-size: 20px;
    margin: 20px 0 5px;
    font-weight: 100;
    text-align: center;
    line-height: 1.2;
    text-transform: capitalize;
}
#music-title h6{
    font-size: 12px;
    margin: 0;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
}
#music-menu{
    width: 90%;
    height: 40px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
#music-menu img{
    padding-top:200%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
#currentTime{
    position: relative;
    z-index: 3;
    padding: 0 12px 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#currentTime span{
    font-size: 12px;
}
.seekslider{
    width: 100px;
    height: 2px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fff;
    z-index: 3;
    outline: none;
    position: fixed;
    margin-left: 70px;
}
.seekslider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #EDEDED;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}
.seekslider:active::-webkit-slider-thumb{
    transform: scale(1.2);
}
#buttons{
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 3;
    margin-top: 20px;
}
#buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    width: 60px;
    height: 50px;
    margin: 0 5px;
}
.play img{
    width: 100%;
    height: 100%;
}
.pre img,
.next img{
    width: 18px;
    height: 18px;
}
#buttons .like{
    position: absolute;
    top: 25%;
    right: 8%;
    cursor: pointer;
}
#buttons .like i{
    color: rgba( 255, 255, 255, 0.883);
}
#buttons .repeat{
    position: absolute;
    top: 30%;
    Left: 6%;
    font-size: 15px;
    cursor: pointer;
}
#repeat img{
    width: 16px;
    height: 16px;
}

.anime{
    animation: rotatePlayer 4s linear infinite;
}

@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}